version: "3.8"

services:

  backend:
    build:
      context: ./backend
    container_name: sign-backend
    env_file:
      - ./.env.compose
    ports:
      - "5000:5000"
    depends_on:
      - indictrans2
    restart: unless-stopped

  indictrans2:
    build:
      context: E:/Hack1/python34/indictrans2-docker
      dockerfile: Dockerfile
    container_name: indictrans2
    volumes:
      - E:/Hack1/python34/indictrans2-docker/models:/models
      - E:/Hack1/python34/indictrans2-docker/IndicTrans2:/app/IndicTrans2
    ports:
      - "5002:8000"
    restart: unless-stopped
